$background-color: rgb(255, 255, 255);
$primary-color: #272727;

.container{
    display: flex;
    flex:1;
    justify-content: center;
    background-color: $background-color;
    padding:20px;
}
.title{
    font-size: 24px;
    text-align: center;
}