.form{
    flex:0.5;
    padding:30px;
    justify-content: center;
}
.input{
    color: black;
    padding:10px;
    margin-bottom: 10px;
    border:1px solid #134E5E;
    border-radius: 4px;
}
.inputMessage{
    color: black;
    padding:10px;
    margin-bottom: 10px;
    border:1px solid #134E5E;
    border-radius: 4px;
  height:100px;}
.buttonSubmit{
background: red!important;
}